[Desktop Entry]
Encoding=UTF-8
Name=Unico Plasmoid
Type=Service
ServiceTypes=Plasma/Applet
Icon=chronometer

X-Plasma-DefautSize=125,125
X-Plasma-API=ruby-script
X-Plasma-MainScript=code/main.rb
X-KDE-PluginInfo-Author=Petr Sigut
X-KDE-PluginInfo-Email=contact@sigut.net
X-KDE-PluginInfo-Name=unico-plasmoid
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://www.abclinuxu.cz/blog/PhaX_blog/2009/9/obecna-miniaplikace-a-obsah-pro-ni
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
